.idea
.DS_Store
.phpunit.result.cache
.phpunit.cache
composer.lock
vendor
build
tests/dirs/runtime
tests/tmp-dirs
!tests/dirs/runtime/cache/.gitkeep
!tests/tmp-dirs/app/.gitkeep
!tests/tmp-dirs/runtime/cache/.gitkeep
phpunit.xml
psalm.xml
psalm-cache
